*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    outline: none;
}

a{
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    height: 100px;
    width: 100%;
    border-bottom: 2px solid #dddd;
    text-align: center;
}

.admin-content {
    padding-top: 50px;
    display: flex;
}
.admin-content-left {
    background-color: #dddd;
    width: 20%;
    height: 100vh;
    padding: 30px 0 0 12px;
}

.admin-content-left > ul > li > a {
    font-weight: bold;
}

.admin-content-left ul li {
    margin: 6px 0;
}

.admin-content-left ul ul {
    margin-left: 20px;
}

.admin-content-right {
    width: 80%;
    padding: 30px 0 0 12px;
}

.admin-content-right-cartegory-add {
    height: 30px;
    width: 200px;
    padding-left: 12px;
    margin-top: 20px;
}

.admin-content-right-cartegory-add input {
    padding: 10px;
}

.admin-content-right-cartegory-add button {
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    border: none;
    background-color: brown;
    color: white;
    transition: all 0.1s ease;
}

.admin-content-right-cartegory-add button:hover {
    background-color: transparent;
    border: 1px solid brown;
    color: brown;
}

/* ---------------------------CartegoryList------------------------------- */

.admin-content-right-cartegory-list table{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    border: 1px solid #dddd;
    border-collapse: collapse ;
}

.admin-content-right-cartegory-list table tr th,td {
    border: 1px solid #dddd;
    /* border-collapse: collapse; */
}


/*---------------------------------------admin-content-right-product-add-------------------------------------  */
.admin-content-right-cartegory-add input,select{
    width: 200px;
    height: 30px;
    display: block;
    background-color: aqua;
}